html {
height:100%;
	background: url(../img/langley.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	height: 100%;
	text-align:center;
	overflow-x:auto:
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	margin:0px;
	padding:0px;

	font-family: Arial;
	font-size: 12pt;
	color: #333;
}

.main-header {
	color:#EAE373;
	font-size:50px;
	padding-left: 10px;
	padding-right: 10px;
}

.main-header.home-logo {
	padding-top:15%;
}

.main-header img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

#content {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
	padding: 0 10px;
}

/* Titles */
h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #fff;
}

h1 {
	color:#558608;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size:24px;
}

h1.subtitle {
	color:#333333;
}

/* Paragraph & Typographic */
p {
	line-height: 20px;
	margin-bottom: 10px;
	font-weight:400;
}

#logo {
	position:absolute;
	left:5px;
	top:0px;
	z-index:9999;
}

/* Custom styling for CSS menus */
#cssmenu > ul > #menu-button {
	text-align: right;
	padding-right: 32px;
}