*~
bin/
include/
lib/
logs/
share/


src/

!modules/*

download/

SuperBuild/build/
SuperBuild/install/
build/

cmvs.tar.gz
parallel.tar.bz2
LAStools.zip
pcl.tar.gz
ceres-solver.tar.gz
*.pyc
opencv.zip
settings.yaml
.setupdevenv
__pycache__
*.snap
storage/


vcpkg/
venv/
python38/
dist/
innosetup/