appsettings==0.8
attrs==21.4.0
beautifulsoup4==4.10.0
cloudpickle==2.0.0
edt==2.1.1
ExifRead==2.3.2
Fiona==1.8.20 ; sys_platform == 'linux' or sys_platform == 'darwin'
https://github.com/OpenDroneMap/windows-deps/raw/main/Fiona-1.8.19-cp38-cp38-win_amd64.whl ; sys_platform == 'win32'
fpdf2==2.4.6
gdal==3.4.0 ; sys_platform == 'linux' or sys_platform == 'darwin'
https://github.com/OpenDroneMap/windows-deps/raw/main/GDAL-3.2.3-cp38-cp38-win_amd64.whl ; sys_platform == 'win32'
joblib==1.1.0
laspy==1.7.1
lxml==4.7.1
matplotlib==3.5.1
networkx==2.6.3
numpy==1.22.0
opencv-python==4.5.5.62
Pillow==9.0.0
pyodm==1.5.9
pyproj==3.3.0
Pysolar==0.10
pytz==2021.3
PyYAML==6.0
rasterio==1.2.10 ; sys_platform == 'linux' or sys_platform == 'darwin'
https://github.com/OpenDroneMap/windows-deps/raw/main/rasterio-1.2.3-cp38-cp38-win_amd64.whl ; sys_platform == 'win32'
repoze.lru==0.7
scikit-image==0.19.1
scikit-learn==1.0.2
scipy==1.7.3
Shapely==1.8.0
vmem==1.0.1
xmltodict==0.12.0
