eigen3:x64-windows
suitesparse:x64-windows
lapack:x64-windows
tbb:x64-windows
glog:x64-windows
curl:x64-windows
libxml2:x64-windows
zlib:x64-windows
libpng:x64-windows
libjpeg-turbo:x64-windows
tiff:x64-windows
flann:x64-windows
boost-filesystem:x64-windows
boost-date-time:x64-windows
boost-iostreams:x64-windows
boost-foreach:x64-windows
boost-signals2:x64-windows
boost-interprocess:x64-windows
boost-graph:x64-windows
boost-asio:x64-windows
boost-program-options:x64-windows
libgeotiff:x64-windows
cgal:x64-windows
yasm-tool:x86-windows