name: Publish Docker and WSL Images

on:
  push:
    branches:
    - master
    tags:
    - v*

jobs:
  build:
    runs-on: self-hosted
    timeout-minutes: 2880
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        config-inline: |
          [worker.oci]
            max-parallelism = 1
    
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Docker meta
      id: docker_meta
      uses: docker/metadata-action@v5
      with:
        images: opendronemap/odm
        tags: |
          type=semver,pattern={{version}}
          type=ref,event=branch
    
    - name: Build and push Docker image
      id: docker_build
      uses: docker/build-push-action@v6
      with:
        file: ./portable.Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ${{ steps.docker_meta.outputs.tags }}
          opendronemap/odm:latest
        cache-from: type=registry,ref=opendronemap/odm:buildcache
        cache-to: type=registry,ref=opendronemap/odm:buildcache,mode=max
    
    - name: Dispatch NodeODM Build Event
      id: nodeodm_dispatch
      run: |
        curl -X POST -u "${{secrets.PAT_USERNAME}}:${{secrets.PAT_TOKEN}}" -H "Accept: application/vnd.github.everest-preview+json" -H "Content-Type: application/json" https://api.github.com/repos/OpenDroneMap/NodeODM/actions/workflows/publish-docker.yaml/dispatches --data '{"ref": "master"}'
